*{
    padding: 0px;
    margin: 0px;
}
div > img{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}